/*TODO max width vs max device width... viewport meta tag*/
body{
    position: relative;
    overflow-x: hidden;
}

.modalShowClass {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.83);
    width: 100%;
    z-index: 1000;
    height: 100vh;
    top: 0;
    left: 0;
}


#modal .row .col-md-6 {

    height: 50vh;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    overflow: auto;
}



#modal h2{
    color: white;
    margin-bottom: 5%;
}

#modal .col-md-6:first-child{
    padding: 0;
}

span.glyphicon.glyphicon-remove {
    color: white;
    font-size: 1.7em;
    position: absolute !important;
    right: 2%;
    top: 5%;
    border: 1px solid white;
    padding: 1%;
    cursor: pointer;
}

#modal .col-md-6:first-child{
    overflow: hidden !important;
}


#modal img {
    width: 125%;
    height: 115%;
}

#modal p {
    color: white;
    line-height: 1.4em;
}

#modal .container {

    height: 100vh;
}

#modal .row {

    height: 100vh;
}


.modalHideClass{
    display: none;
}



html{
    overflow-x: hidden;
}

a{
    color: black !important;
}

.workbtn {
    background-color: white;
    color: black;
    box-shadow: 0px 2px 11px -2px black;
    font-family: sans-serif;
    text-align: center;
}

.btngit {
    font-size: 1.3em;
    padding-right: 2%;
    margin-top: 1%;
}

.btnthree {
    border-radius: 0 5px 5px 0 !important;

}

.btnthree:hover {
    border-radius: 0 5px 5px 0 !important;
    background-color: #4ea74e !important;
    border-color: #4ea74e !important;
}

.btntwo {
    border-radius: 0 0 0 0 !important;
}

.btntwo:hover {
    background-color: #3db3d7 !important;
    border-color: #3db3d7 !important;
}

.btnone {
    border-radius: 5px 0 0 5px !important;
}
.btnone:hover {
    background-color: rgba(134, 134, 134, 0.7) !important ;
    color:white;
    border-radius: 5px 0 0 5px !important;
    border-color: rgba(134, 134, 134, 0.7) !important ;
}

figcaption .col-xs-4 {
    padding: 0;
}

figcaption .col-md-4,  figcaption .col-xs-12 {
    padding: 0;
}

figcaption .row{
    margin: 0;
}

figcaption button {
    width: 100%;
}

#group1 {
    position: relative;
}

span#mobileSpan {
    position: absolute;
    z-index: 4;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(27, 26, 26, 0.47);
}

.col-md-4.col-md-offset-4.filterContainer .row {
    padding: 0 15px;
}

div#loading {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #001e31;
    z-index: 1000;
    position: fixed;
}

#loading img {
    vertical-align: middle;
    position: absolute;
    width: 15%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


span.glyphicon.glyphicon-arrow-down {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.input-group-addon {
    top: 0;
}


.transition{
    position: relative;
    top: 100px;
    opacity: 0;
    transition: 2s;
}

.formTransition{
    top: 0;
    opacity: 1;
}

.form-group:first-child{
    transition-delay: .2s;
}

.form-group:nth-child(2){
    transition-delay: .4s;
}

.transition:nth-child(3){
    transition-delay: .6s;
}

.transition:nth-child(4){
    transition-delay: .8s;
}



.form-group:nth-child(3) .col-md-2,  .form-group:nth-child(3) .col-md-3 {
    padding: 0;
}

.form-group:nth-child(3) .col-md-3 {
    padding-left: 15px;
}

section#contact {
    position: relative;
    background: -webkit-linear-gradient(white, rgba(121, 81, 25, 0.51));
}

#contact .row{
    height: 100%;
}
#contact .col-md-6:nth-child(2) {
    background-image: url("../images/jumbo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
}

#jumbo2 {
    height: 400px;
}

#jumbo2 img {
    height: 100%;
}

form{
    margin-bottom: 9vh;
}


#contact p {
    font-size: 1.3em;
    text-align: center;
    font-family: sans-serif;
    text-align: center;
    margin: 4% auto 3% auto;
    width: 80%;
}

a:link {
    text-decoration: none;
    color: black;
}

figcaption {
    color: black;
    font-family: sans-serif;
    font-size: 1.2em;
    width: 100%;
    margin: 0 auto;
}

figure{
    text-align: center;
    margin-bottom: 3%;
    overflow: hidden;
    width: 100%;
}

div#modalParagraphContainer {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

form .btn {
    width: 100%;
}

#contact h2 {
     margin: 10% 0 2% 0;
    opacity: 0;
}


footer {
    background-color: black;
    color: white;
}

footer p{
    margin: 0 !important;
    padding: 8px;
}

footer .col-md-4 {
    padding: 2% 15px 1% 15px;
}

footer span {
    color: rgba(251, 251, 251, 0.87);
    font-size: 1.5em !important;
    border: 1px solid rgba(136, 136, 136, 0.63);
    border-radius: 50%;
    padding: 8px;
    margin: 0 2%;
    position: relative;
    bottom: 30px;
    opacity: 0;
    transition: 1s;
}

#footerSpan1{

    transition-delay: .1s;
}

#footerSpan2{

    transition-delay: .3s;
}

#footerSpan3{

    transition-delay: .6s;
}

.footerTransition{
    bottom: 0px;
    opacity: 1;
}



#experience li {
    font-size: 1.2em;
}

#aboutSection img {
    width: 141px;
    float: left;
    height: 163px;
    border-radius: 5px;
    margin-right: 2%;
    margin-top: 1%;
}

#experienceSpan{
    position: relative;
    top: 2em;
    opacity: 0;
}

#experience .col-md-4 {
    position: relative;
    margin-top: 1em;
    top: 2em;
}

#experience .col-md-4:nth-child(2){
    -webkit-animation-delay: .3s;
}

#experience .col-md-4:nth-child(3){
    -webkit-animation-delay: .5s;
}



@-webkit-keyframes experienceBounce {
    from{
        top: 2em;
    }
    to{
        top: 0em;
    }
}



.bounce{
    -webkit-animation: experienceBounce .5s cubic-bezier(.42,0,.2,2) forwards;
}

div#smallDiv {
    width: 0%;
    overflow: hidden;
    position: relative;
    left: 50%;
    -webkit-transform: translate(-48%, 36%);
}

h5 {
    font-size: 1.45em;
    color: rgba(0, 0, 0, 0.63);
    font-family: sans-serif;
    width: 200px;

}

#experienceUnderline {
    position: absolute;
    border: 2px solid #FFB84D;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transition: 2s;
    -webkit-transform: scale(0);
    -webkit-transform-origin: 50% 50%;
}

@-webkit-keyframes experienceUnderlineAnimation{
    from{
        -webkit-transform: scale(0);
    }
    to{
        -webkit-transform: scale(1);
    }
}


.transformClass{
    -webkit-animation: experienceUnderlineAnimation 1.4s forwards;
}

#experience .col-md-4 .container-fluid {
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    -webkit-transition: 1.5s;
    -webkit-transform: scale(1);
    -webkit-transform-origin: 50% 0;
    background-color: white;
    box-shadow: 0px 0px 10px black;
    height: 60px;
    overflow: hidden;
    position: relative;
}

@-webkit-keyframes experienceHeightAnimation{
    from{
        height: 60px;
    }
    to{
        height: 235px;
    }
}

@-webkit-keyframes experienceHeightAnimation2{
    from{
        height: 60px;
    }
    to{
        height: 150px;
    }
}

@-webkit-keyframes experienceHeightAnimation3{
    from{
        height: 60px;
    }
    to{
        height: 195px;
    }
}

.addHeight2{
    -webkit-animation:experienceHeightAnimation2 .5s forwards ;
}
.addHeight3{
    -webkit-animation:experienceHeightAnimation3 .5s forwards ;
}
.addHeight{
    -webkit-animation:experienceHeightAnimation .5s forwards ;
}

#experience .container {
    margin-top: 1em;
    padding-bottom: 5em;
}




#experience {
    background: -webkit-linear-gradient(#dcdcdc, rgba(228, 228, 228, 0.15));
    padding-bottom: 10vh;
}




#experience ul {
    list-style-type: none;
    padding: 0;
}

#experience h2 {
    padding-top: 2.5em;
    margin-top: 0;
}

#work{
    padding-bottom: 1%;
}

section#work button:hover {
    cursor: pointer;
    background-color: #fc5a2f;
    color: white;
    border-color: #fc5a2f;
}

#work button {
    outline: none;
}



#firstButton {
    border-radius: 5px 0 0 5px!important;
}

#lastButton {
    border-radius: 0 5px 5px 0 !important;
}

section#getInTouch {
    background-color: black;
    padding: 3% 0;
    font-family: sans-serif;
    color: white;
    position: relative;
}


#getInTouch button {
    color: white;
    width: 39%;
    padding: 2%;
    font-family: sans-serif;
    border-color: #737373;
    border-radius: 5px;
    font-size: 1.3em;

}

section#getInTouch span {
    font-size: 1.8em;
}



span#getInTouchUnderline {
    position: absolute;
    background-color: white;
    border: 1px solid white;
    bottom: 0;
    left: 0;
    right: 0;
    width: 6.2em;
    -webkit-transform-origin: 0 0;

}



section#getInTouch p {
    font-size: 1.5em;
    position: relative;
    left: 4em;
    opacity: 0;

}

button:focus {
    outline-style: none !important;
}



.buttonActive{
    background-color: #fc5a2f;
    color: white;
    width: 100%;
    padding: 5%;
    font-family: sans-serif;
    border-color: #fc5a2f;
}


.notActive{
    background-color: #171717;
    color: white;
    width: 100%;
    padding: 5%;
    font-family: sans-serif;
    border-color: #737373;
}


section#work > .container:first-child {
    position: relative;
    top: 7%;
}

.imgCol {
    padding: 5px;
}

.row.imgRow {
    margin-top: 1em;

}


.filterContainer, .filterContainer .row > div{
    padding: 0;
}

button.btn.btn-info.filterButton {
    width: 100%;
}

span#aboutSpan {
    position: relative;
}

#about h2{
    opacity: 0;
}


.project{
    position: relative;
    width: 120%;
    height: 250px;
}

.slide{
  position: relative;
    -webkit-transition: 0.7s;
}

.slide.ng-enter{
   opacity: 0;
    left: -100px;
}

.slide.ng-enter-stagger{
    -webkit-transition-delay:.2s;
    -webkit-transition-duration: 0s;
}

.slide.ng-enter-active{
    opacity: 1;
    left: 0;
    -webkit-transition-timing-function: cubic-bezier(.21,1.28,.71,1.43);
}

.slide.ng-leave {
    opacity: 1;
    left: 0;
}

.slide.ng-leave-active{
    opacity: 0;
    left: -300px;
}

#contact .row:nth-child(2) .col-md-6 {
    background-color: #FFD79A;
    color: black;
}


span#aboutSpanUnderline {
    position: absolute;
    border: 2px solid #FFB84D;
    top: 100%;
    left: 0;
    right: 0;
    -webkit-transform: scale(0);
}

#contact span:first-child {
    position: relative;
}

span#contactSpanUnderline {
    position: absolute !important;
    border: 2px solid #FFB84D;
    top: 100%;
    left: 0;
    right: 0;
    -webkit-transform: scale(0);
}

.navActive{
    background-color: #eeeeee;
}


.paragraphContainer .col-md-6:first-child{
    left: -100%;
    opacity: 0;
}

.paragraphContainer .col-md-6:nth-child(2){
    /*position: relative;*/
    opacity: 0;
    right: -100%;

}




span#line-break {
    position: absolute;
    border: 1px solid #BDBDBD;
    height: 41vh;
    right: 50%;
    top: 200%;
    opacity: 0;
    -webkit-transform-origin: 0 0 ;
}


section#aboutSection {
    background-color: white;
    position: relative;
    /*height: 480px;*/
    font-family: sans-serif;
    font-weight: 300;
    padding: 8% 0;
}

div#about .row:first-child {
    height: 100%;

}


div#about .row .col-md-12 {
    height: 94%;
    position: relative;
}

.paragraphContainer{
    position: relative;
    height: 63%;
    opacity: 1;
    top: 18%;
}


.paragraphContainer .col-md-6{
    position: relative;
}

h2{
    font-family: sans-serif;
    position: relative;
    font-weight: 300;
    -webkit-transform: translateX(-50%);
    left: 50%;
}

#work span:first-child {
    position: relative;
}

span#workSpanUnderline {
    position: absolute !important;
    border: 2px solid #FFB84D;
    top: 100%;
    left: 0;
    right: 0;
    -webkit-transform: scale(0);
}

div#about p{
    position: relative;
    text-align: left;
    font-family: sans-serif;
    font-size: 1.3em;
    line-height: 1.6em;

}

header {
    position: fixed;
    height: 68px;
    width: 100%;
    z-index: 300;
}

.jumbotron{
    background-image: url("../images/homeBanner.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 420px;
    z-index: -1;
    margin-bottom: 0;
}



ul.iconNav li a{
    font-size: 1.6em;
    color: black;
}
ul.iconNav {
    list-style-type: none;
    display: inline;
    position: absolute;
    right: 0%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    width: 150px;
    padding-left: 0;
}

ul.iconNav li {
    display: inline;
    margin: 0 5%;
}


div#navDropDown {
    border: 1px solid black;
    position: absolute;
    width: 100%;
    height: 202px;
    top: -195% ;
    -webkit-transition: .8s;
    text-align: center;
    background-color: black;
    border-radius: 0 0 5px 5px;
}

div#navDropDown li {
    padding: 1.2%;
    font-size: 1.25em;
}

div#navDropDown li a {
    color: white !important;
}

div#navDropDown ul {
    list-style-type: none;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
}

.dropDownActive{
    top: 100% !important;
}

.dropDownUnactive{
    top: -195% !important;
}
.navbar-header{
    position: relative;
    height: 100%;
}

div#nav-collapse {
    height: 100% !important;
}
.navbar-toggle{
    border: 1px solid rgb(0, 0, 0);
    margin-right: 25px;
    margin-top: 15px;
}

.navbar-toggle .icon-bar {
    border: 1px solid black;
}

nav .container-fluid:first-child{
    padding: 0;
    height: 100%;
}
.navbar-brand {
    float: left;
    height: 100%;
    background-color: black;

}

.navbar-brand span {
    color: white;
    background-color: black;
    border-bottom: 3px solid white;
    font-size: 1.3em;
    line-height: 35px;
}


ul.nav.navbar-nav {
    height: 100%;
}

ul.nav.navbar-nav li a:hover {
    background-color: #fc5a2f;
}

.navbar-nav>li>a {
    color: black;
    font-size: 1.2em;
    height: 100%;
    line-height: 48px;
    padding: 10px 25px;
}

nav#navbar{
    position: relative;
    height: 100%;
    background-color: #dcdcdc;
    box-shadow: 0px 1px 15px #080808;
}

ul.nav.navbar-nav li {
    background-color: white;
    border: 1px solid #dcdcdc;
    height: 100%;
    cursor: pointer;
}
#landingController{
    position: absolute;
    width: 100%;
    height: 100%;
}

div#brandCircle {
    border: 1px solid black;
    display: inline-block;
    border-radius: 50%;
    width: 130px;
    text-align: center;
    height: 130px;
    position: relative;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    box-shadow: 1px 1px 1px 800px black;
    background-color: black;
    font-size: 50px;
}


div#inner {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
}

div#inner{
    position: relative;
}
div#inner span {
    color: white;
    border-bottom: 3px solid white;
}

.navbar-inner {
    height: 100%;
}

div#landingContainer {
    position: relative;
    height: 100%;
    background-size: cover;
    font-family: sans-serif;
}

#bottomContainer a .btn:hover {
    background-color: #fc5a2f;
}


div#bottomContainer {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -26%);
    color: black;
}

div#bottomContainer {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -40%);
    color: white;
    text-shadow: -2px 1px black;
    text-align: center;
    width: 100vw;
    padding: 0 15px;
}

#bottomContainer h2 {
    font-size: 4.3em;
    position: relative;
    opacity: 0;
}

#bottomContainer p {
    font-size: 1.7em;
    position: relative;
    opacity: 0;
}

#bottomContainer a .btn {
    opacity: 0;
    color: white;
    background-color: #201F1F;
    font-size: 2em;
    padding: 1% 4%;
    border-radius: 100px;
    position: relative;
    outline-style: none;
}

#bottomContainer a .btn:hover{
    cursor: pointer;
}
/*brand circle animation*/
@-webkit-keyframes boxShrink {
    0%{
        top: 50%;
        box-shadow: 1px 1px 1px 800px black;
        background-color: black;
        width: 145px;
        height: 145px;
        font-size: 50px;
    }

    10%{
        top: 50%;
        box-shadow: 1px 1px 1px 800px black;
        background-color: black;
        width: 145px;
        height: 145px;
        font-size: 50px;
    }

    15%{
        top: 50%;
        box-shadow: 1px 1px 1px 300px black;
        background-color: black;
        width: 145px;
        height: 145px;
        font-size: 50px;
    }

    25%{
        top: 50%;
        box-shadow: 1px 1px 1px 0 black;
        background-color: black;
        width: 145px;
        height: 145px;
        font-size: 50px;
    }



    60%{
        top: 50%;
        box-shadow: 1px 1px 1px 0 black;
        background-color: black;
        width: 145px;
        height: 145px;
        font-size: 50px;
    }



    80%{
        top: 20%;
        box-shadow: 1px 1px 1px 0 black;
        background-color: black;
        width: 85px;
        height: 85px;
        font-size: 30px;
    }


    100%{
        box-shadow: 1px 1px 1px 0 black;
        top: 20%;
        background-color: black;
        width: 85px;
        height: 85px;
        font-size: 30px;
    }
}

.introAnimate{
    -webkit-animation: boxShrink 4s linear forwards;
}



@-webkit-keyframes introHeaderAnimate {
    from{
        left: 0%;
        opacity: 0;
    }

    to{
        left: 50%;
        opacity: 1;

    }
}

@-webkit-keyframes introParagraphAnimate {
    from{
        left: 100%;
        opacity: 0;
    }
    to{
        left: 0;
        opacity: 1;
    }
}

@-webkit-keyframes introButtonAnimate {
    from{
        top: 100px;
        opacity: 0;
    }
    to{
        top: 25px;
        opacity: 1;
    }
}

@-webkit-keyframes aboutHeaderAnimation {
    from{
        margin-top: 40px;
        opacity: 0;
    }
    to{
        margin-top: 0;
        opacity: 1;
    }
}

@-webkit-keyframes aboutParagraphAnimation {
    from{
        top: 100%;
        opacity: 0;
    }
    to{
        top: 30%;
        opacity: 1;
    }
}

@-webkit-keyframes leftAboutParagraphAnimation {
    from{
        right: -100px;
        opacity: 0;
    }
    to{
        right: 0px;
        opacity: 1;
    }
}

@-webkit-keyframes lineBreakAnimation {
    from{
        -webkit-transform: scale(0);
        opacity: 0;
    }
    to{
        -webkit-transform: scale(1);
        opacity: 1;
    }
}

@-webkit-keyframes aboutUnderlineAnimation{
    from{
        -webkit-transform: scale(0);


    }
    to{
        -webkit-transform: scale(1);

    }
}

@-webkit-keyframes arrowMove {
    from{
        left: -60%;
        -webkit-transform: scale(0) rotateZ(0deg);

    }
    to{
        left: 55%;
        -webkit-transform: scale(1) rotateZ(360deg);
    }
}

@-webkit-keyframes getInTouchUnderline {
    from{
        -webkit-transform: scale(0);

    }
    to{
        -webkit-transform: scale(1);
    }
}

@-webkit-keyframes getInTouchParagraphAnimation {
    from{

        bottom: -2em;
        opacity: 0;
    }
    to{

        bottom: 0em;
        opacity: 1;

    }
}

@-webkit-keyframes contactHeaderAnimate {
    from{
        top: 150px;
        opacity: 0;
    }
    to{
        top: 0px;
        opacity: 1;
    }
}

@-webkit-keyframes footerAnimation {
    from{

        top: 30px;
        opacity: 0;
    }
    to{

        bottom: 0px;
        opacity: 1;

    }
}



.contactHeaderAnimationClass{
    -webkit-animation: contactHeaderAnimate 1.5s forwards;
}

.getInTouchParagraphAnimationClass{
    -webkit-animation: getInTouchParagraphAnimation 1.2s cubic-bezier(.21,1.28,.71,1.43) forwards;
}

.getInTouchUnderlineAnimationClass{
    -webkit-animation: getInTouchUnderline 2s  forwards;
}

.arrowMoveClass{
    -webkit-animation: arrowMove 3s forwards;
}

.aboutHeaderUnderlineClass{
    -webkit-animation: aboutUnderlineAnimation 1s forwards;
}

.paragraphBreakAnimationClass{
    -webkit-animation: lineBreakAnimation 1.7s forwards;
}

.leftAboutAnimationClass{
    -webkit-animation: leftAbout;
}

.aboutHeaderAnimationClass{
    -webkit-animation: aboutHeaderAnimation  .8s ease-out forwards;
}

.aboutParagraphAnimationClass{
    -webkit-animation: aboutParagraphAnimation 1.3s ease-out forwards;
}


.introHeaderAnimate{
    -webkit-animation: introHeaderAnimate .9s ease-out forwards;
}

.introParagraphAnimate{
    -webkit-animation: introParagraphAnimate  .9s ease-out forwards;
}

.introButtonAnimate{
    -webkit-animation: introButtonAnimate .9s ease-out forwards;
}

.navbar-inverse .navbar-brand {
    color: #FFFFFF;
}


@media screen and (max-device-width : 767px) {
    .navbar-brand{
        margin-left: 15px;
    }

    div#landingContainer{
        background-position: 32%, 50%;
    }
    div#bottomContainer {
        position: absolute;
        -webkit-transform: translate(-50%, -40%);
        color: white;
        text-shadow: -2px 1px black;
        text-align: center;
        width: 100vw;
    }
    #bottomContainer h2 {
        font-size: 3.7em;
        position: relative;
        opacity: 0;

    }
    #bottomContainer p {
        font-size: 1.7em;
        position: relative;
        opacity: 0;

    }

    #bottomContainer a .btn {
        opacity: 0;
        color: white;
        background-color: #201F1F;
        font-size: 2em;
        padding: 1% 4%;
        border-radius: 100px;
        position: relative;
        outline-style: none;
    }
}

@media screen and (max-width: 992px) {
    html{
        overflow-x: hidden;
    }


    #modal .row .col-md-6 {
        overflow: auto;
        height: 50vh;
        position: relative;
        top: 25% !important;
        transform: translateY(-50%);
        overflow: auto;

    }

    #work .row:first-child button{
        padding: 1em;
        border-radius: 5px !important;
    }

    .filterContainer .row > .col-md-3 {
        margin: 0;
    }

    section#contact {
        height: 664px;
        background: -webkit-linear-gradient(rgba(121, 81, 25, 0.51), white);

    }

    .btnone, .btnone:hover{
        border-radius: 0px 0px 5px 5px !important;
    }
    .btntwo, .btntwo:hover{
        border-radius: 0px 0px 5px 5px !important;
    }
    .btnthree, .btnthree:hover{
        border-radius: 0px 0px 5px 5px !important;
    }
}

@media screen and (max-width: 768px) {
    section#aboutSection {
        height: 700px;
    }

}

@media screen and (max-width: 508px) {
    section#aboutSection {
        height: 807px;
    }
}

@media screen and (max-width: 480px) {

}