<!--TODO if view width is greater than a certain size, take the active class off the collapse navbar you made-->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>David's Portfolio</title>
    <meta name="description" content="portolio">
    <meta name="keywords" content="David Goodman, Portfolio, Developer">
    <meta name="author" content="David Goodman">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/stylesheet.css">
    <link rel="stylesheet" href="bootstrapSocial.css">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="javascript/vanillaJS.js"></script>
    <script src="javascript/angularModule.js"></script>
</head>
<body ng-app="portfolio">
<header id="header"><!--header-->
    <nav class="navbar navbar-fixed-top" id="my-navbar"><!--nav-->
        <div class="navbar-inner">
            <div class="container-fluid">
                <div class="navbar-header"><!--navbar header for button and brand-->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a href="index.html" class="navbar-brand active"><span>DG</span></a>
                </div><!--navheader end-->
                <div class="collapse navbar-collapse" id="nav-collapse">
                    <!--navbar navigation-->
                    <ul class="nav navbar-nav">
                            <li ><a>About</a></li>
                            <li ><a>Work</a></li>
                            <li ><a>Skills</a></li>
                            <li ><a>contact</a></li>
                    </ul>

                    <ul class="iconNav">
                        <li>
                            <a href='https://www.linkedin.com/in/deg5112'  target="_blank" class="btn btn-social-icon btn-linkedin">
                                <span class="fa fa-linkedin"></span>
                            </a>
                        </li>
                        &nbsp;|&nbsp;
                        <li>
                            <a href='https://github.com/Deg5112' target="_blank" class="btn btn-social-icon btn-github">
                                <span class="fa fa-github"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </nav><!--nav end-->
    <div id="navDropDown">
        <ul>
            <li><a>About</a></li>
            <li><a>Work</a></li>
            <li><a>Skills</a></li>
            <li><a>contact</a></li>
        </ul>
    </div>
</header><!--header End-->
<!--jumbotron-->
<div class="jumbotron text-center"><!--jumbotron begin-->
    <div class="container">
        <h1></h1>
        <p></p>
    </div><!--end container begin-->
</div><!--end jumbotron-->

<section id="aboutSection">
<div class="container" id="about">
    <div class="row">
        <div class="col-md-12">

                <h2 class="text-center aboutHeaderAnimationClass"><span id="aboutSpan">About <span id="aboutSpanUnderline"></span></span><span id="line-break" class="hidden-xs hidden-sm"></span></h2>

                <div class="row paragraphContainer">
                    <div class="col-md-6">
                        <p>David started out his career in technology sales, and spent time in both customer facing, and technical
                            pre-sales roles. Over the 3 year period of being in tech-sales, he found himself gravitating towards the
                            technical side of the industry. After moving to Southern California in in 2014, he found out about
                            learningFuze web development 12 week-immersion boot camp. Since he picked up his first book on javascript
                            he hasn't taken a day off of programming since.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p>
                            He prides himself on making mobile-response, interactive, and
                            user-friendly, websites and web-applications. David has come to realize the only one that can push himself
                            harder than anybody else, is himself. By the end of 2016, his goal is to expand his current programming knowledge
                            into native mobile applications, as well as master newer front and backend frameworks
                        </p>
                    </div>
                </div>
        </div>
    </div>
</div>
</section>

<section>
    <div class="jumbotron text-center"><!--jumbotron begin-->
        <div class="container">
            <h1></h1>
            <p></p>
        </div><!--end container begin-->
    </div><!--end jumbotron-->
</section>

<section id="work" ng-controller="workController as wC">

    <div class="container">

        <div class = 'row'>
                <h2 class="text-center">Work</h2>
            <div class="col-md-4 col-md-offset-4 filterContainer">
<!--ng-click="select($index)" ng-class="{sel: $index == selected}-->
                <div class="row">
                    <div class = "col-md-3"><button  type="button"   ng-click=" wC.filter=null; wC.updateActiveButton(1);" ng-class="1===wC.activeButton ? 'active' : 'notActive'">All</button></div>
                    <div class = "col-md-3"><button  type="button"   ng-click=" wC.filter='APP'; wC.updateActiveButton(2);" ng-class="2===wC.activeButton ? 'active' : 'notActive'">APP</button></div>
                    <div class = "col-md-3"><button  type="button" ng-click=" wC.filter='GAME'; wC.updateActiveButton(3);" ng-class="3===wC.activeButton ? 'active' : 'notActive'">GAME</button></div>
                    <div class = "col-md-3"><button  type="button"  ng-click=" wC.filter='WEBSITE'; wC.updateActiveButton(4);" ng-class="4===wC.activeButton ? 'active' : 'notActive'">WEBSITE</button></div>
                </div><!--row end-->

            </div>


        </div><!--row end-->

        <div class="row imgRow">
            <div class="col-xs-6 col-md-4 imgCol" ng-repeat="i in wC.imgArray | filter:wC.filter">
                <img class='project' ng-src="images/{{i.src}}">
            </div>
        </div><!--row end-->

    </div>

</section>


</body>
</html>